html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 10px;
}

.task-one::before {
    content: "Once upon a time ";
}

.task-one::after {
    content: "... The end.";
}

.task-two {
    background-image: url(./assets/beach.jpg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.task-three {
    background-image: url(./assets/smiley.jpg);
    background-repeat: no-repeat;
    width: 430px;
    height: 430px;
    transform: rotate(180deg);
    
}