html, body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 30px;
}

p {
    background-color: aqua;
}
p::before {
    content: "Once upon a time ..." ;
    background-color: blue;
    font-weight: bold;
}

p::after {
    content: "...The end.";
    background-color: blue;
    font-weight: bold;

}

.task-two {
    height: 300px;
    width: 300px;
    background-image: url(../assets/beach.jpg);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.task-three {
    height: 300px;
    width: 300px;
    background-image: url(../assets/smiley.jpg);
    background-size: cover;
    transform: rotate(180deg);
}